* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    margin: 20px auto;
    height: 400px;
    background-color: #eee;
    display: grid;
    grid-template-areas: "head head head head";
    grid-template-columns: minmax(200px, 400px) repeat(2, 1fr);
}

.parent div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}